/* Header.css */
@font-face {
    font-family: 'Bison';
    src: url(../Bison-Bold\(PersonalUse\).ttf);
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: 'Bison', sans-serif;
}


.custom-line-height {
    line-height: 48px;
    font-family: 'Bison', sans-serif;
    font-size: 40px;
    letter-spacing: 0.045em;
}

/* Ajoutez d'autres styles au besoin */